

.customerCardHeader{
    width: 100%;
    .listItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;

        .imageParent {
            padding: 10px 5%;
            // padding: 30px;
        }
        .nameParent{
            padding: 10px 5%;
        }
        .emailParent{
            padding: 10px 5%;
        }
        .statusParent {
            padding: 10px 5%;
        }
    }
}


.customerCard{
    cursor: pointer;
    width: 100%;
    .listItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;

        .imageParent {
            padding: 10px 5%;
            // padding: 30px;
        }
        .nameParent{
            padding: 10px 5%;
        }
        .emailParent{
            padding: 10px 5%;
        }
        .statusParent {
            padding: 10px 5%;
        }
    }
}