$sidebar-width: 10vw !default;
$sidebar-collapsed-width: 80px !default;
$submenu-indent: 24px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;
$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
    margin: 0;
    color: #353535;
    font-family: 'Roboto', sans-serif;
}

.Sidebar{
    height: 100vh;
    display: inline-block;
    position: relative;
}

.boxsize{
    width: 92vw;
    border: 1vw solid lightgray;
    padding: 10vw;
    margin: 4vw;
}